<div class="row mb-3">
  <div class="col-12">
    <h3 class="text-center styled-heading">
      <!-- <i class="fas fa-tshirt laundry-icon"></i>  -->
      <!-- <i class="fa-solid fa-water laundry-icon"></i> -->
      <i class="fa-solid fa-clipboard laundry-icon"></i>
      Transactions
      <i class="fas fa-washing-machine laundry-icon"></i> <!-- Washing Machine Icon -->
    </h3>
  </div>
</div>
<div class="container-fluid ">
    <div class="tabs tab-round ">
        <nav>
          <a href="#content4">Receivings</a>
          <a href="#content5">Releasings</a>
        </nav>
        <div class="content w-auto" id="content4"><app-receiving></app-receiving></div>
        <div class="content w-auto" id="content5"><app-releasing></app-releasing></div>
    </div>
</div>
